/* .image {
    background: black;
}

.img1 {
    width:80%; 
    height: 40%;
}

.img2 {
    width:10%; 
    height: 40%;
} */

.head-text {
    position: relative;
    /* text-align: centre;
    padding-top: 50px; */
    color: white;
 }
 .text-on-image {
   position: absolute;
   right: 10px;
  left: 10px;
  bottom: 10px;
 }

 .dashed-box {
    position: relative;
    z-index: 1;
    border: solid;
    height: 8em;
    margin-bottom: 1em;
    margin-top: 2em;
  }
 