.heading {
    width: 538px;
    height: 144px;
    left: 675px;
    top: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 140px;
}

 .dashed-box {
    z-index: 1;
    border: solid;
    position: relative;
    width: 950px;
    height: 737px;
    left: 771px;
    top: 250px;
    bottom: 700px; 
  }
